@import url('https://fonts.googleapis.com/css?family=Amatic+SC');

/* Basic page stuff */
html {
  box-sizing: border-box;
  background: #ffc600;
}

* {
  box-sizing: inherit;
}

body {
  margin: 0;  
}
/*header navbar*/
h4, h5, h6,
h1, h2, h3 {margin: 0;}
ul, ol {margin: 0;}
p {margin: 0;}
html, body{
font-family: 'Kh Writhand', sans-serif;
font-size: 100%;
background-color: #fff;
}
a {
  text-decoration: none;
}
a:hover {
  transition: 0.5s all;
  -webkit-transition: 0.5s all;
  -moz-transition: 0.5s all;
  -o-transition: 0.5s all;
  text-decoration:none;
}
/*--header menu nav start--*/
div#navbar {
    float:right;
    text-align: center;
}
.navbar-wrapper {
  padding: 1.5em 0em 1.5em 0em;
  margin-top: 0px !important;
  line-height: 30px;
  border-bottom: 1px solid #6F6F8C;
}
.navbar-inverse {
  background: none; 
  border:none; 
}
.navbar-nav {
  float: right !important;
  margin-top: 1em;
}
.navbar-inverse .navbar-nav>.open>a:focus, .navbar-inverse .navbar-nav>.open>a:hover {
  background-color: #fff;
}
.navbar {
    margin-bottom: 0px !important;   
    min-height: 0px !important;   
}
.navbar-brand {
    float: left;  
    height: 0px;
    padding: 0px;
    margin-top: 0px; 
}
.navbar-brand .imglogo{
  width: 151px;
  height: 70px; 
}
.nav > li > a {
    margin: 0px 15px !important;
    padding: 0px;
}
.navbar-inverse .navbar-brand {
    color: #FFFFFF;
}
.navbar-inverse .navbar-nav > .active > a, .navbar-inverse .navbar-nav > .active > a:hover, .navbar-inverse .navbar-nav > .active > a:focus {
    color: #fff;
    background: none;
}
.navbar-inverse .navbar-nav > li > a {
    color:#000000;
    line-height: 1.5em;
}
.navbar-inverse .navbar-nav > li > a.active{
  color:#E9A820;
}
.navbar-inverse .navbar-nav > li > a:hover, .navbar-inverse .navbar-nav > li > a:focus {
    color:#006e96;
    background-color: transparent;
}
nav a {
    position: relative;
    display: inline-block;
    outline: none;
    color: #fff;
    text-decoration: none;
    text-shadow: 0 0 1px rgba(255,255,255,0.3);
    font-size: 1em;
}
nav a:hover,
nav a:focus {
  outline: none;
}
/*--nav effect--*/
nav a {
    position: relative;
    display: inline-block;
    outline: none;
    color: #fff;
    text-decoration: none;
    letter-spacing: 1px;
    font-weight: 400;
    text-shadow: 0 0 1px rgba(255,255,255,0.3);
    font-size: 1em;
}
nav a:hover,
nav a:focus {
  outline: none;
}
/* Effect 16: fall down */
.cl-effect-16 a {
  color: #6f8686;
  text-shadow: 0 0 1px rgba(111,134,134,0.3);
}

.cl-effect-16 a::before{
  color:#E9A820;
  content: attr(data-hover);
  position: absolute;
  opacity: 0;
  text-shadow: 0 0 1px rgba(255,255,255,0.3);
  -webkit-transform: scale(1.1) translateX(10px) translateY(-10px) rotate(4deg);
  -moz-transform: scale(1.1) translateX(10px) translateY(-10px) rotate(4deg);
  transform: scale(1.1) translateX(10px) translateY(-10px) rotate(4deg);
  -webkit-transition: -webkit-transform 0.3s, opacity 0.3s;
  -moz-transition: -moz-transform 0.3s, opacity 0.3s;
  transition: transform 0.3s, opacity 0.3s;
  pointer-events: none;
}

.cl-effect-16 a:hover::before,
.cl-effect-16 a:focus::before {
  -webkit-transform: scale(1) translateX(0px) translateY(0px) rotate(0deg);
  -moz-transform: scale(1) translateX(0px) translateY(0px) rotate(0deg);
  transform: scale(1) translateX(0px) translateY(0px) rotate(0deg);
  opacity: 1;
}
.cl-effect-16 a:hover,.navbar-nav li a.active{
  -webkit-transform: scale(1) translateX(0px) translateY(0px) rotate(0deg);
  -moz-transform: scale(1) translateX(0px) translateY(0px) rotate(0deg);
  transform: scale(1) translateX(0px) translateY(0px) rotate(0deg);
  opacity: 1;
}
/*--header end here--*/

/*Style container first slide*/
.cuisines {
  margin-top: 15px;

}
.cuisines .Dining img, .blog_img img{
  width: 540px;
}
.Dining h2, .blog_text h2 {
  text-align: left;
  font-size: 40px;
  font-weight: 700;
  margin-bottom: 50px;
  margin-top: 1em;
  color: #E9A820;
}
.Dining p, .blog_text p {
  line-height: 35px;
  color: #777;
}
/*menu*/
.menu {
  padding: 13em 0 5em;
  position: relative;
}

.menu-tag {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  margin-top: 100px;
}

.title {
  text-align: center;
  font-size: 40px;
  font-weight: 700;
  color: #E9A820;
}

.menu-text {
  margin-bottom: 4em;
  position:relative;
}

.menu-text:before {
  content: '';
  position: absolute;
  background: url("../images/icon5.png")no-repeat 0px 0px;
  background-size: cover;
  width: 40px;
  height: 40px;
  left: 0;
}

.menu-text-left {
  float: left;
  width: 50%;
  text-align: left;
  margin-left: 2em;
}

.menu-text-left h4 {
  font-size: 20px;
  margin: 0;
  color: #333;
  margin-bottom: 20px;
  text-align: left;
}
.menu-text-left h6 {
  font-size: 1em;
  margin: 0;
  color: #777;
  text-align: left;
}
.menu-text-midle {
  float: left;
  width: 20%;
  position: relative;
  height: 19px;
}
.menu-text-midle span.line {
  position: absolute;
  top: 67%;
  left: 0%;
  width: 100%;
  height: 1px;
  background: #999;
  content: '';
  opacity: 1;
}
.menu-text-right {
  float: right;
  width: 18%;
}
.menu-text-right h4 {
  margin: 0;
  font-size: 22px;
  color: #555555;
  text-align: left;
}
.menu-grids-info {
  position: relative;
}
.menu-rate {
  position: absolute;
  width: 92%;
  top: 0%;
  left: 15px;
  display: none;
  background: rgba(0, 0, 0, 0.5);
}
.menu-rate h5{
  font-size: 30px;
  font-weight: 500;
  color: #fff;
  letter-spacing:0.5px;
  margin: 1em 0;
  text-align: center;
}
.menu-grids-info:hover div.menu-rate {
  display: block;
}
.menu-spl {
  position: relative;
}
.menu-spl:hover div.menu-rate {
  display: block;
}
.menu-rate.spl-rate {
  width: 95%;
}
/*menu end*/

/* Main flex container */
.panels {
  display: flex;
  margin-left: 2.5%;
  margin-top: 20px;
  min-height: 90vh;
  overflow: hidden;
  width: 95%;
}

/* Main flex item */
.panel {
  background: white;
  background-size: cover;
  background-position: center;
  box-shadow: inset 0 0 0 5px rgba(255,255,255,0.1);
  font-size: 20px;
  text-align: center;
  transition:
    font-size 0.7s cubic-bezier(0.61, -0.19, 0.7, -0.11),
    flex 0.7s cubic-bezier(0.61, -0.19, 0.7, -0.11),
    background 0.2s;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 0;
}

/* The contents of each flex item, including when the open class is toggled */
.panel > * {
  margin: 0;
  width: 100%;
  text-transform: uppercase;
  font-family: 'AKbalthom Freehand', cursive;
  text-shadow: 0 0 4px rgba(0, 0, 0, 0.72), 0 0 14px rgba(0, 0, 0, 0.45);
  font-size: 2em;
  transition: transform 0.5s;
  flex: 1 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.panel.open {
  flex: 5;
  font-size: 40px;
}

/* Just makes the 2nd element's text larger */
.panel > *:nth-child(2) {
  font-size: 4em;
}

/* Hides first and last elements in each panel until open-active class is toggled */
.panel > *:first-child {
  transform: translatey(-100%);
}

.panel > *:last-child {
  transform: translatey(100%);
}

.panel.open-active > *:first-child,
.panel.open-active > *:last-child {
  transform: translatey(0);
}

/* Pretty pictures */

#panel1 { 
  background-image: url(http://www.valueinvestasia.com/wp-content/uploads/2015/01/Singapore-Restaurant-Week-2012-Visual.jpg); 
  border-bottom: 3px solid black;
  border-top: 3px solid black;
  border-left: 3px solid black;
  border-bottom-left-radius: 5px;
  border-top-left-radius: 5px;
}
#panel2 { 
  background-image: url(http://barcelonasalon-spa.com/wp-content/uploads/2012/12/spa5.jpg); 
  border-bottom: 3px solid black;
  border-top: 3px solid black;
}
#panel3 { 
  background-image: url("./../image/Fitness.jpg");
  border-bottom: 3px solid black;
  border-top: 3px solid black;
  border-right: 3px solid black;
  border-bottom-right-radius: 5px;
  border-top-right-radius: 5px;
}
.txt a {
  color: white;
  text-decoration:none;
}

/*slide Spa*/
.ctas {
  padding: 40px 15px 30px 15px;
}

.cta {
  margin-bottom: 20px;
  padding-bottom: 20px;
}
.icon img {
  display: block;
  height: 200px;
  margin-left: 75px;
  padding-bottom: 15px;
  width: 200px;
}
.cta .cta_title {
  text-align: center;
}
.cta .cta_title a {
  color: #E9A820;
  font-size: 1.5em;
  text-decoration: none;
}
.cat p {
  font-size: 16px; 
  text-align: center;
}
h2.title{
  margin-top: 1em;
}
.blog {
  margin-top: 25px;
}
.option_spa {
  color: red;
  font-size: 12px;
  margin-bottom: 0px;
  margin-top: 10px;
}
.text {
  margin-bottom: 20px;
}
.spa_txt {
  font-size: 0.3em;
}
#txt1, #txt3 {
  height: 300px;
}
#txt2, #txt4{
  height: 170px;
  max-height: 200px;
}
.cta_title a:focus {
  color: black;
}
/*Slide Spa*/

/*Start Slide fitness*/
#fitness {
  margin-top: 30px;
   margin-bottom: 40px;
}
.fitness_img img {
  width: 540px;
  height: 360px;
  border-radius: 10px;
}
/*Slide fitness end here*/

/*--footer start here-- */
#footer {
  /*background-color: #1f232b;*/
  background-image: url("./../image/footer_botton.png");
}
#footer .footer_top {
  background-color: #344a71;
  padding: 20px 0;
}
#footer .footer_top .mailchimp h4 {
  margin-top: 20px;
    display: inline-block;
    font-family: 'Kh Writhand';
    font-size: 14px;
    margin-top: 10px;
    color: #fff;
    text-transform: uppercase;
    font-weight: 400;
}
#footer .footer_top .mailchimp i {
  margin-top: 20px;
    content: "\f003";
    border: 3px solid #e7c130;
    padding: 10px;
    color: #e7c130;
    margin-right: 20px;
    font-size: 18px;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    border-radius: 100%;
}
#footer .footer_top .mailchimp .mailchimp-form .input-text {
  margin-top: 10px;
    border: 2px solid #e7c130;
    background-color: transparent;
    color: #e7c130;
    padding: 5px 10px;
    display: inline-block;
    line-height: 40px;
    width: 290px;
}
#footer .footer_top .mailchimp .mailchimp-form .awe-btn {
    min-width: 135px;
    text-align: center;
    height: 40px;
    color: #fff;
    background-color: #e7c130;
    font-size: 14px;
    text-transform: uppercase;
    margin-left: 10px;
    margin-top: 18px;
    border-radius: 10px;
}
#footer .footer_top .social {
    margin-top: 15px;
}
#footer .footer_top .social .social-content {
    font-size: 0;
}
#footer .footer_top .social .social-content a {
    display: inline-block;
    color: #fff;
    border: 2px solid #fff;
    line-height: 36px;
    width: 36px;
    height: 36px;
    margin-top: 5px;
    text-align: center;
    margin-right: 20px;
    font-size: 20px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
}
#footer .footer_top .social .social-content a:hover {
border: 2px solid #e7c130;
color: #e7c130;
}
/*--footer center--*/
#footer .footer_center {
    padding-bottom: 20px;
}
#footer .footer_center .widget {
    margin-top: 40px;
}
#footer .footer_center .widget_logo, #footer .footer_top {
    text-align: center;
}
.widget-logo {
    text-align: left;
    display: inline-block;
}
#footer .footer_center .widget-logo .img_footer {
    max-width: 145px;
    display: inline-block;
    vertical-align: middle;
    margin-right: 40px;
    margin-top: 25px; 
    padding: 0px;
}
#footer .footer_center .widget-logo .img_footer a img{
  width: 210px;
  height: 120px;
  margin-top: 10px;
}
#footer .footer_center .widget-logo .text {
    display: inline-block;
    vertical-align: middle;
    margin-top: 10px;
}
#footer .footer_center .widget-logo .text p {
    color: #acacac;
    margin-bottom: 20px;
}
#footer .footer_center .widget .widget-title {
    color: #fff;
    text-transform: uppercase;
    font-size: 16px;
    margin-top: 0;
    margin-bottom: 20px;
}
#footer .footer_center .widget ul {
    list-style: none;
    padding-left: 0;
    margin-bottom: 0;
}
#footer .footer_center .widget ul li a {
    color: #acacac;
    padding: 5px 0;
    display: inline-block;
    -webkit-transition: all .2s ease;
    -moz-transition: all .2s ease;
    -ms-transition: all .2s ease;
    -o-transition: all .2s ease;
}
#footer .footer_center .widget_tripadvisor .tripadvisor p {
    color: #acacac;
    font-size: 13.75px;
    margin-bottom: 20px;
}
#footer .footer_center .widget_tripadvisor .tripadvisor img {
    max-width: 100%;
    margin-bottom: 20px;
}
#footer .footer_center .widget_tripadvisor .tripadvisor .tripadvisor-circle {
    font-size: 0;
    clear: bold;
    display: block;
}
#footer .footer_center .widget_tripadvisor .tripadvisor .tripadvisor-circle i {
    font-size: 15px;
    border: 2px solid #8bc23f;
    padding: 1px;
    background-color: #8bc23f;
    background-clip: content-box;
    display: inline-block;
    width: 14px;
    height: 14px;
    margin-right: 5px;
    position: relative;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
}
#footer .footer_center .widget_tripadvisor .tripadvisor .tripadvisor-circle i.part:before {
    content: '';
    position: absolute;
    background-color: #1f232b;
    display: block;
    height: 8px;
    width: 4px;
    right: 1px;
    top: 1px;
}
.footer_bottom {
  text-align: center;
  color: black;
}
/*--footer end here--*/